.body {
  background-color: rgb(252, 255, 214);
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  text-align: center;
}

h3,
h2 {
  margin: 0px 0px 10px 0px;
}

.header__navegacao {
  min-height: 50px;
  background-color: rgb(207, 43, 43);
  padding: 0 20%;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.header__navegacao > a {
  color: white;
  text-decoration: none;
}

.main {
  max-width: 1148px;
  margin: 0 auto;
}

.origem,
.principal {
  display: flex;
  flex-flow: row nowrap;
}

.origem__foto-de-bolo {
  width: 100%;
  max-width: 300px;
  max-height: 230px;
}

.origem__origem-do-bolo {
  background-color: white;
  padding: 30px;
}

.quote {
  background-image: url(/src/img/sweet-cake.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-color: rgb(104, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 20px;
}

.principal {
  justify-content: space-between;
  margin-bottom: 10px;
}

.bolo-chocolate__foto-bolo-chocolate {
  width: auto;
  max-height: 250px;
  float: left;
  margin-right: 30px;
}

.bolo-chocolate__ingredientes {
  list-style: none;
}

.outros-bolos {
  margin: 0 10px 10px;
  padding: 0px 20px 20px;
  text-align: center;
}

.outros-bolos > ul {
  list-style: none;
  text-align: left;
}

.contato > h2 {
  margin: 0px 0px 7px;
}

.contato > .formulario {
  padding-left: 5px;
}

.contato > .formulario > input,
button {
  margin: 3px 3px 3px 0px;
}

.body__footer {
  background-color: #3e3e3e;
  color: lightgray;
  padding: 10px 11%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 0px;
}

.social-icon {
  max-width: 40px;
  max-height: 40px;
  padding: 5px;
}

.social-icon:hover {
  cursor: pointer;
}
