body {
    background-color: rgb(252, 255, 214);
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    text-align: center;
}

h3,
h2 {
    margin: 0px 0px 10px 0px;
}

nav {
    min-height: 50px;
    background-color: rgb(207, 43, 43);
    padding: 0 20%;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

nav > a {
    color: white;
}

#main {
    max-width: 1148px;
    margin: 0 auto;
}

#titulo-principal {
    text-align: center;
}

#origem,
#principal {
    display: flex;
    flex-flow: row nowrap;
}

#principal {
    justify-content: space-between;
    margin-bottom: 10px;
}

#foto-de-bolo {
    width: 100%;
    max-width: 300px;
    max-height: 230px;
}

#foto-bolo-chocolate {
    width: auto;
    max-height: 250px;
    float: left;
    margin-right: 30px;
}

.origem-do-bolo {
    background-color: white;
    padding: 30px;
}

.sobre {
    padding: auto;
}

#quote {
    background-image: url(/src/img/sweet-cake.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-color: rgb(104, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-size: 20px;
}

.ingredientes > li {
    list-style: none;
}

.outros-bolos {
    /* background-color: white; */
    margin: 0 10px 10px;
    padding: 0px 20px 20px;
    text-align: center;
}

.outros-bolos > ul {
    list-style: none;
    text-align: left;
}

#contato > form {
    padding-left: 5px;
}

#contato > form > input,
button {
    margin: 3px 3px 3px 0px;
}

#contato > h2 {
    margin: 0px 0px 7px;
}

.saiba-mais {
    max-width: auto;
}

#footer {
    background-color: #3e3e3e;
    color: lightgray;
    padding: 10px 11%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px;
}

.social-icon {
    max-width: 40px;
    max-height: 40px;
    padding: 5px;
}

.social-icon:hover {
    cursor: pointer;
}
